
body {
    background-color:#dbf5f6; 
    font-family:Helvetica, sans-serif;
}

/* Header with image and overlay text*/
.site-header {    
    position: relative;
    text-align: center;
    margin:auto;
}

.site-header img {
    width: 100%;    
}

h1 {        
    position:absolute; 
    width: 100%;
    top: 45%;
    color: whitesmoke;
    font: 100px Papyrus;       
}

/* Navigation bar Style*/
.navbar {
    overflow: hidden;
    text-align: center;
    background-color:#00445E;
    margin: auto;
    font: 23px helvetica;  
    padding: 10px 100px;
}

.navbar a {
        display:inline-block;
        justify-content: space-around; /* space before, between, and after the lines */
        width: 30%;
        color:rgb(198, 220, 222);
        text-decoration: none;  /*Remove the underline from the links*/
        border-right: 1px solid whitesmoke; /*Add a border to the links */
}

.navbar a[title="Contact"] {
    border-right: none;
}

.navbar a:hover {
    background-color:#f0908e; /*Change the background colour on hover*/
}

/*Second image style and text wrap*/
.description img { 
    width: 250px;
    height:260px; 
    float: left;
    margin: 10px;
}

.description p {
    margin: auto;
}

/*.form { 
    background-color:#e4ebee;     
}*/

/*Footer*/
footer { 
    text-align: right;
    padding: 20px 10px;

}
