
body {
    background-color:#c3f7f1; 
    font-family:Helvetica, sans-serif;
}

.container { 
    background-color:#dbf8f5; 
    width: 1080px;
    height: 1500%;
    margin: -10px 124px;

}

/* Header with image and overlay text*/
.site-header {    
    position: relative;
    width: 1200px; 
}

.site-header img {
    width: 90%;    
}

h1 {        
    position:absolute; 
    text-align: center;
    width: 90%;
    top: 50%;
    color: whitesmoke;
    font: 100px Papyrus;       
}


/* Navigation bar Style*/
.navbar {   
    margin: 5px 60px 20px 60px;     
    padding: 5px 50px; 
}

.navbar a {
    display:inline-block;
    text-align: center;
    width: 32%; 
    color:#00445E;
    text-decoration: none;  /*Remove the underline from the links*/
    border-right: 2px solid rgb(22, 19, 19); /*Add a border to the links */
    font: 23px helvetica;  
}

.navbar a[title="Contact"] {
    border-right: none;
}

.navbar a:hover {
    background-color:#f0908e; /*Change the background colour on hover*/
}

/*Second image style and text wrap*/
.description img { 
    width: 250px;
    height:260px; 
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.description p, h2, h3, h4, .list,.form {
    margin: 30px 10px;
        
}

.form { 
    background-color:#eaf2f5;     
}

/*Footer*/
footer { 
    text-align: right;
    padding: 20px 0px;
    margin-right: 10px;

}
